// =====================================================================================
//
// Sass変数
//
// =====================================================================================

@use 'sass:math';

// -------------------------------------------------------------------------------------
// カラー
// -------------------------------------------------------------------------------------

$primary: #E8E1CB;
$primary_light: #F1EDDD;
$primary_dark: #D1C7A4;
$background: #E8E1CB;
$text_main: #43372B;
$text_black: #323232;



// -------------------------------------------------------------------------------------
// テキスト系
// -------------------------------------------------------------------------------------
$root-font-size: 16px;

$font-size-map: (
  xs: 12px,
  sm: 14px,
  md: $root-font-size,
  lg: 18px,
  xl: 24px,
  2xl: 32px,
  3xl: 40px,
);


// -------------------------------------------------------------------------------------
// 幅・サイズ
// -------------------------------------------------------------------------------------

// コンテンツの基準幅（＝デザインデータのサイト幅）
$width_base: 480px;

// コンテンツの最大幅
$width_max: 760px;

$breakpoints: (
  'sm': 480px,
  'md': 760px,
  'lg': 1024px,
);

// -------------------------------------------------------------------------------------
// 余白
// -------------------------------------------------------------------------------------
$spacing-map: (
  0: 0,
  xs: 4px,
  sm: 8px,
  md: 16px,
  lg: 24px,
  xl: 32px,
  2xl: 48px,
  3xl: 64px,
);

// -------------------------------------------------------------------------------------
// z-index
// -------------------------------------------------------------------------------------
$z-map: (
  modal: 1000,
  dropdown: 900,
  header: 800,
);